{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <nav class="main-nav">
        <ul>
            <li>
            <a href="{% url 'home' %}" class="active">HOME</a>
            </li>
            <li>
            <a href="{% url 'about' %}" class="active">ABOUT</a>
            </li>
            
        </ul>
        </nav>
    </header>
        <br>
        <br>
    <div class="container">
        <div class="abouttitle">
            <h1>About Wordcount</h1>
        </div>
        <div class="card text-center">
            <div class="about-body">
                <p class="card-text"><br>입력한 텍스트에서 단어 개수를 세어 주고<br>동일한 단어가 몇 번 반복되는지 확인이 가능한 서비스입니다.</p>
                <br>
                <form action="{% url 'home' %}">
                <input type="submit" value="Go to home!">
                </form>
                <br>
            </div>
        </div>
    </div> 
    <div class="footer" style="text-align: center;">
        <p>Made by: SHIMJIWON</p>
        <p>Contact information: 
        <a href="mailto:wldnjs0919@likelion.org">
        wldnjs0919@likelion.org</a>
        </p>
    </div>
    </body>
</html>